Repository dimaslanjaka/page: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

fixed invalid bundle js path
  public/page/google/login.html
  public/page/safelink.html
Due: none

add imports dictionary
  src/imports.txt
Due: none

update assets imports
  src/components/RsuiteLayout/index.tsx
  src/routes/Login/index.tsx
Due: eslint --fix

optimize lazy imports
  src/routes/BotDetect/index.tsx
Due: eslint --fix

code cleanup
  config/webpack.entry.js
Due: eslint --fix

add `shell` options for windows
  gulpfile.watch.js
Due: eslint --fix

initialize adsense options
  src/App2.tsx
Due: eslint --fix

add adblock detector
  src/components/Adsense/utils/adblock.scss
  src/components/Adsense/utils/adblock.scss.d.ts
  src/components/Adsense/utils/adblock.ts
  src/components/Adsense/utils/config.ts
  src/components/Adsense/utils/index.ts
Due: eslint --fix

split main function to shared
  gulpfile.js
  gulpfile.shared.js
Due: eslint --fix

fixed windows cannot kill subprocesses using NodeJS api to build
  gulpfile.watch.js
  gulpfile.webpack.js
Due: eslint --fix

moved dynamic inject to method
  src/components/Adsense/utils/adblock.ts
  src/components/Adsense/utils/index.ts
Due: eslint --fix

fixed wrong flow
  gulpfile.watch.js
Due: eslint --fix

add onError attribute
  src/components/Adsense/utils/initializeRandomAds.ts
Due: eslint --fix

add Adblock modal
  src/App2.tsx
  src/components/Adsense/AdBlockModal.tsx
Due: eslint --fix

reusing spawn
  gulpfile.watch.js
Due: eslint --fix

supress error
  src/components/Adsense/utils/initializeRandomAds.ts
Due: eslint --fix

install adblock detector modal globally
  src/App2.tsx
Due: eslint --fix

Rename page-update.yml to page-update.txt
  .github/workflows/page-update.txt
Due: none

add queue strategy for windows
  gulpfile.watch.js
Due: eslint --fix

add build static task
  gulpfile.js
Due: eslint --fix

separate main function
  gulpfile.webpack.js
  src/components/Adsense/utils/index.ts
  src/components/Adsense/utils/main.ts
Due: eslint --fix

using minified rsuite
  src/components/RsuiteLayout/theme.scss
Due: none

moved global adsense options to theme layout
  src/App2.tsx
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

remove stylesheet
  src/components/Adsense/utils/adblock.scss
  src/components/Adsense/utils/adblock.scss.d.ts
Due: eslint --fix

generate static files on test dist
  package.json
Due: prettier --list-different --write

add adblock tester
  public/adblock.html
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: any of: *.json
