Repository dimaslanjaka/page: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

optimize syntaxes
  gulpfile.js
Due: eslint --fix

strip js comments from contents
  webpack.entries.js
  webpack.entries.json
Due: eslint --fix, prettier --list-different --write

add test dist task
  package.json
Due: prettier --list-different --write

update test dist usages
  readme.md
Due: none

filter assets from entries
  webpack.entries.js
  webpack.entries.json
Due: eslint --fix, prettier --list-different --write

change entries too large chunks
  webpack.config.js
  webpack.entries.js
  webpack.entries.json
Due: eslint --fix, prettier --list-different --write

add target to ES5 enable source map disable composite
  tsconfig.json
Due: prettier --list-different --write

change fallback suspense
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

add option `inject`
  webpack.html.js
Due: eslint --fix

remove `suspenseIt` implementation using direct `React.Suspense` instead
  src/index.js
Due: eslint --fix

not fix dropdown
  src/components/RsuiteLayout/Navbar.tsx
Due: eslint --fix

update config referenced from https://github.com/rsuite/rsuite/tree/main/examples/with-typescript
  .babelrc.js
  package.json
  webpack.backup.js
  webpack.config.js
Due: eslint --fix, prettier --list-different --write

add installation step
  readme.md
Due: none

moved all chunks to `runtime/` folder
  webpack.backup.js
  webpack.config.js
  webpack.html.js
Due: eslint --fix

remove navbar dropdown menu
  src/components/RsuiteLayout/Navbar.tsx
Due: eslint --fix

disable performance warning
  webpack.config.js
Due: eslint --fix

add local domain
  webpack.config.js
Due: eslint --fix

eslint add `react-hook` rules
  .eslintrc.js
  package.json
Due: eslint --fix, prettier --list-different --write

add notification and toaster
  src/route/UI/index.tsx
Due: eslint --fix

update grid style and add title
  src/route/UI/index.tsx
  src/route/UI/ui.scss
Due: eslint --fix

add button toolbar and custom heading
  src/route/UI/index.tsx
Due: eslint --fix

add logs
  src/route/UI/index.tsx
Due: eslint --fix

using panel independently each post
  src/components/RsuiteLayout/Sidebar.tsx
Due: eslint --fix

import config from `origin/master`
  .gitignore
  .gitmodules
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package-lock.json
Due: prettier --list-different --write

fixed static build on production
  .babelrc
  .yarnrc.yml
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
  src/App.js
  src/pages/About.tsx
  src/pages/Dashboard.tsx
Due: eslint --fix, prettier --list-different --write

drop entries task
  readme.md
  webpack.entries.js
  webpack.entries.json
Due: eslint --fix, prettier --list-different --write

remove unused scripts
  config/webpack.backup.js.txt
  config/webpack.config.js.txt
  webpack.html.js
Due: eslint --fix

reinstall linter
  package.json
Due: prettier --list-different --write

reinstall missing dependencies drop entries
  package.json
Due: prettier --list-different --write

fix invalid task orders
  package.json
Due: prettier --list-different --write

reinstall missing dependencies
  package.json
Due: prettier --list-different --write

fixed missing buffer for browser library
  gulpfile.webpack.js
  package.json
Due: eslint --fix, prettier --list-different --write

remove cross-env from build task
  package.json
Due: prettier --list-different --write

add sitemap.txt generator
  html/generate.tsx
  html/routeConfig.ts
Due: eslint --fix

split helpers from index
  src/utils/dom.ts
  src/utils/index.ts
  src/utils/utils.ts
Due: eslint --fix

forward module ruleset from common config
  gulpfile.webpack.js
Due: eslint --fix

fix missing crypto-js
  src/utils/utils.ts
Due: eslint --fix

eslint --fix
  src/App2.tsx
  src/pages/About.tsx
  src/pages/Dashboard.tsx
Due: eslint --fix

options param is optional
  src/utils/cookie.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: any of: *.json
