Repository dimaslanjaka/page: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

lazy import svg
  src/components/RsuiteLayout/Navbar.tsx
Due: eslint --fix

separate layout
  src/route/MomentTimezone/index.tsx
  src/route/MomentTimezone/layout1.tsx
Due: eslint --fix

export default instead bracket export
  src/route/MomentTimezone/ClockLive.jsx
  src/route/MomentTimezone/DateInput.jsx
  src/route/MomentTimezone/FullTimezoneList.jsx
Due: eslint --fix

using router from array
  src/index.js
Due: eslint --fix

cleanup codes
  src/index.js
Due: eslint --fix

clean up codes
  src/index.js
Due: eslint --fix

navbar items as link
  src/components/RsuiteLayout/Navbar.tsx
Due: eslint --fix

update entries
  webpack.entries.json
Due: prettier --list-different --write

set spinner as default loader content
  src/components/Loader/Loader.scss
  src/components/Loader/index.tsx
Due: eslint --fix

add font
  src/assets/css/main.scss
Due: none

moved to folder
  src/route/Highlight/Highlight.scss
  src/route/Highlight/index.jsx
Due: eslint --fix

update style copy button on codeblock
  src/assets/css/main.scss
Due: none

fixed load script after page fully loaded
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

prettier --write
  src/route/MomentTimezone/timezones.json
Due: prettier --list-different --write

wrap with nested react suspense https://stackoverflow.com/a/58574359/6404439
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

keep brackets inline for react
  .prettierrc.json
Due: prettier --list-different --write

sync copy button with highlight.js element
  src/assets/css/main.scss
  src/components/Highlight.js/index.tsx
  src/components/RsuiteLayout/index.tsx
  src/route/Highlight/index.jsx
Due: eslint --fix

prettier --write
  src/components/SafelinkContents.jsx
Due: eslint --fix

split copy button to highlight.js helper
  src/components/Highlight.js/helper.ts
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

unrandomize feed items
  src/components/RsuiteLayout/Sidebar.tsx
Due: eslint --fix

make event param optional
  src/utils/index.ts
Due: eslint --fix

fixed image in footer not apply size
  src/components/RsuiteLayout/Footer.tsx
Due: eslint --fix

add rule for stylesheets
  .lintstagedrc.json
Due: prettier --list-different --write

update layout moment timezone playground
  src/route/MomentTimezone/MomentTimezone.scss
  src/route/MomentTimezone/Snippet.jsx
  src/route/MomentTimezone/index.tsx
  src/route/MomentTimezone/layout1/ClockLive.jsx
  src/route/MomentTimezone/layout1/DateInput.jsx
  src/route/MomentTimezone/layout1/FullTimezoneList.jsx
  src/route/MomentTimezone/layout1/MomentTimezone.scss
  src/route/MomentTimezone/layout1/index.tsx
  src/route/MomentTimezone/layout1/moment-timezone.js
  src/route/MomentTimezone/layout2/layout2.scss
  src/route/MomentTimezone/shared/Snippet.jsx
  src/route/MomentTimezone/shared/snippet-styles.scss
  src/route/MomentTimezone/shared/timezones.json
Due: eslint --fix, prettier --list-different --write

add plugin recommendation
  .vscode/extensions.json
Due: prettier --list-different --write

update typography
  src/route/MomentTimezone/index.tsx
Due: eslint --fix

update layout and styles
  src/route/Highlight/Highlight.scss
  src/route/Highlight/index.jsx
Due: eslint --fix

remove rowspan
  src/route/MomentTimezone/shared/Snippet.jsx
Due: eslint --fix

implement react lazy and suspense
  src/components/SafelinkContents.jsx
Due: eslint --fix

moved to subfolder
  src/route/Safelink/layout1/index.jsx
  src/route/Safelink/layout1/layout1.scss
Due: eslint --fix

Update deploy-gh-pages.yml
  .github/workflows/deploy-gh-pages.yml
Due: none

fixed webpack analyzer usage start: using server build: using static
  package.json
Due: prettier --list-different --write

update dependencies updater config
  .github/dependabot.yml
Due: none

add CI
  .github/workflows/clean-caches.yml
  .github/workflows/clean-logs.yml
Due: none

moved initializer indicator into global window prop
  src/components/Adsense/utils/config.ts
  src/components/Adsense/utils/index.ts
  src/globals.d.ts
Due: eslint --fix

load adsense every theme loaded
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

update import paths
  src/components/Adsense/utils/config.ts
  src/components/Adsense/utils/index.ts
  tsconfig.json
Due: eslint --fix, prettier --list-different --write

moved utility to utils folder
  src/assets/js/page-cookies.js
  src/assets/js/scroll-to-hash.js
  src/components/Adsense/utils/index.ts
  src/components/RsuiteLayout/index.tsx
  src/route/BotDetect/bot-detect.ts
  src/route/BotDetect/index.tsx
  src/route/Safelink/index.tsx
  src/utils/cookie.ts
  src/utils/index.ts
  src/utils/scroll-to-hash.js
Due: eslint --fix

update exports imports
  src/route/BotDetect/index.tsx
  src/utils/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: any of: *.json
