Repository dimaslanjaka/page: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

change output filename to subfolder page
  config/webpack.dev.js
Due: eslint --fix

eslint --fix
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

fixed invalid react hooks in dev server
  src/components/RsuiteLayout/Sidebar.tsx
Due: eslint --fix

pass cli arguments into script
  config/cli.js
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
Due: eslint --fix, prettier --list-different --write

fixed react not working in dev server
  public/index.html
Due: none

add custom id and class name support
  src/components/Highlight.js/index.tsx
Due: eslint --fix

add style to content wrapper
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

fix(TS2339): Property 'entries' does not exist on type 'FormData'
  tsconfig.json
Due: prettier --list-different --write

add detailed cookie to be created
  src/utils/cookie.ts
Due: eslint --fix

fixed invalid cookie values caused by split `=`
  src/utils/cookie.ts
Due: eslint --fix

no update
  src/utils/cookie.ts
Due: eslint --fix

fix content overlaped on mobile force max width 100%
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

add height
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

add cookie manager route
  src/App2.tsx
  src/route/Cookies/cookies.scss
  src/route/Cookies/index.tsx
  src/route/Safelink/index.tsx
Due: eslint --fix

add webpack cache directory
  config/paths.js
  config/webpack.common.js
Due: eslint --fix

Update readme.md
  readme.md
Due: none

add options - root : wrapper to find random places - places : selector to be insterted ads on next element
  src/components/Adsense/utils/config.ts
Due: eslint --fix

add meta favicon
  public/index.html
Due: none

add options - localhost : add local domains to force display ads
  src/components/Adsense/utils/config.ts
Due: eslint --fix

using unminified rsuite css
  src/components/RsuiteLayout/theme.scss
Due: none

add adsense test route
  package.json
  src/App2.tsx
  src/pages/TestAdsense.scss
  src/pages/TestAdsense.tsx
  src/pages/mock.ts
Due: eslint --fix, prettier --list-different --write

remove all ads property
  src/components/Adsense/index.tsx
Due: eslint --fix

split each functions
  src/components/Adsense/utils/applyEnviromentAds.ts
  src/components/Adsense/utils/config.ts
  src/components/Adsense/utils/createIns.ts
  src/components/Adsense/utils/fillFixedPosition.ts
  src/components/Adsense/utils/findRootPlaces.ts
  src/components/Adsense/utils/getCurrentSlot.ts
  src/components/Adsense/utils/index.ts
  src/components/Adsense/utils/initializeRandomAds.ts
  src/components/Adsense/utils/isLocalHostname.ts
Due: eslint --fix

unhide unfilled adsense ads
  src/assets/css/main.scss
Due: none

add static ads
  src/pages/TestAdsense.scss
  src/pages/TestAdsense.tsx
Due: eslint --fix

forward html attributes
  src/components/Adsense/AdsenseFill.tsx
Due: eslint --fix

drop lazy import
  src/route/Safelink/index.tsx
Due: eslint --fix

add static banner
  src/route/HomePage/index.tsx
Due: eslint --fix

update from https://github.com/dimaslanjaka/page/commit/073adcca0
  404.html
  assets/country/index.html
  assets/country/languages.html
  assets/js/r-ads.js
  bot-detect.html
  google/login.html
  highlight-js.html
  index.html
  login.html
  moment-timezone.html
  runtime/chunk/537.9287201b9f15db71ffd4.js
  runtime/chunk/708.67e8eec6b606bccc8824.js
  runtime/chunk/862.4ab9db37a4d2a3c5ca74.js
  runtime/js/main.542417eacde4cc635c27.bundle.js
  runtime/js/main.542417eacde4cc635c27.bundle.js.LICENSE.txt
  runtime/js/main.b5a91ca196cb70c170af.bundle.js
  safelink.html
Due: eslint --fix

fix invalid import
  config/webpack.backup.js.txt
Due: none

install webpack analyzer plugin
  config/webpack.prod.js
  package.json
Due: eslint --fix, prettier --list-different --write

add fallback for built-in node variables
  config/webpack.common.js
Due: eslint --fix

add meta favicon
  html/template.tsx
Due: eslint --fix

working webpack code-splitting implementation in production
  config/webpack.common.js
  config/webpack.entry.js
Due: eslint --fix

add more vendors to split from main bundle
  config/webpack.entry.js
Due: eslint --fix

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: any of: *.json
