Repository dimaslanjaka/page: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

remove tests codes
  config/webpack.entry.js
Due: eslint --fix

extract fonts, images to their own folder
  config/webpack.entry.js
Due: eslint --fix

dont remove dist folder on test dist
  package.json
Due: prettier --list-different --write

extract json files from main bundle
  config/webpack.entry.js
Due: eslint --fix

extract css from main bundle
  config/webpack.common.js
  config/webpack.css.js
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
Due: eslint --fix, prettier --list-different --write

drop extracting json files
  config/webpack.entry.js
Due: eslint --fix

add cwd path
  config/paths.js
Due: eslint --fix

Revert "extract json files from main bundle"
  config/paths.js
  config/webpack.common.js
  config/webpack.css.js
  config/webpack.dev.js
  config/webpack.entry.js
  config/webpack.prod.js
  package.json
Due: eslint --fix, prettier --list-different --write

add project cwd directory
  config/paths.js
Due: eslint --fix

fix code splitting on dev server
  config/webpack.dev.js
Due: eslint --fix

code splitting only applied for production mode
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.entry.js
  config/webpack.prod.js
Due: eslint --fix

separate css loader for later
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
Due: eslint --fix

update vendor chunks
  config/webpack.entry.js
Due: eslint --fix

reorder imports
  src/route/Safelink/index.tsx
Due: eslint --fix

replace global promise with bluebird
  package.json
  src/index.js
  src/index.tsx
  src/utils/promise.ts
Due: eslint --fix, prettier --list-different --write

rename routes folder
  src/index.js
  src/routes/BotDetect/BotDetect.scss
  src/routes/BotDetect/bot-detect.ts
  src/routes/BotDetect/index.tsx
  src/routes/Cookies/cookies.scss
  src/routes/Cookies/index.tsx
  src/routes/FontAwesome.jsx
  src/routes/Highlight/Highlight.scss
  src/routes/Highlight/index.jsx
  src/routes/HomePage/homepage.scss
  src/routes/HomePage/index.tsx
  src/routes/Login/Login.scss
  src/routes/Login/index.tsx
  src/routes/MomentTimezone/index.tsx
  src/routes/MomentTimezone/layout1/ClockLive.jsx
  src/routes/MomentTimezone/layout1/DateInput.jsx
  src/routes/MomentTimezone/layout1/FullTimezoneList.jsx
  src/routes/MomentTimezone/layout1/MomentTimezone.scss
  src/routes/MomentTimezone/layout1/index.tsx
  src/routes/MomentTimezone/layout2/index.tsx
  src/routes/MomentTimezone/layout2/layout2.scss
  src/routes/MomentTimezone/shared/Snippet.jsx
  src/routes/MomentTimezone/shared/moment-timezone.js
  src/routes/MomentTimezone/shared/snippet-styles.scss
  src/routes/MomentTimezone/shared/timezones.json
  src/routes/Safelink/index.tsx
  src/routes/Safelink/layout1/index.jsx
  src/routes/Safelink/layout1/layout1.scss
  src/routes/Safelink/layout2.tsx
  src/routes/UI/index.tsx
  src/routes/UI/ui.scss
  tsconfig.json
Due: eslint --fix, prettier --list-different --write

export as Component for react-router-dom testing
  src/routes/MomentTimezone/index.tsx
Due: eslint --fix

first working lazy component import in production
  src/App2.tsx
Due: eslint --fix

drop old components
  src/index.backup.js.txt
  src/index.js.txt
Due: none

lazy loads all routes
  src/App2.tsx
Due: eslint --fix

export Spinner
  src/components/Loader/index.tsx
Due: eslint --fix

change full page class name
  src/components/Loader/Loader.scss
  src/components/Loader/index.tsx
Due: eslint --fix

update dist tester
  gulpfile.testdist.js
Due: eslint --fix

fixed lazy loading in production
  src/routes/MomentTimezone/layout2/index.tsx
Due: eslint --fix

rename watcher file
  gulpfile.js
  gulpfile.watch.js
Due: eslint --fix

clean webpack plugin applied only for production
  config/webpack.common.js
  config/webpack.prod.js
Due: eslint --fix

add dual compiler
  config/webpack.dev-prod.js
  package.json
Due: eslint --fix, prettier --list-different --write

add dev:php task for dual views
  package.json
Due: prettier --list-different --write

add dual compiler usage
  readme.md
Due: none

moved spawn to background
  config/webpack.dev-prod.js
Due: eslint --fix

update spawn command
  config/webpack.dev-prod.js
Due: eslint --fix

export promise
  src/utils/promise.ts
Due: eslint --fix

fixed lazy import and useEffect conflict fixed
  src/routes/BotDetect/bot-detect.ts
  src/routes/BotDetect/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: any of: *.json
