Repository dimaslanjaka/page: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

adblock enabled globally fixed for react or static
  src/components/Adsense/utils/adblock.ts
  src/components/Adsense/utils/config.ts
  src/components/Adsense/utils/index.ts
  src/components/Adsense/utils/main.ts
Due: eslint --fix

adsense now handled by adblock modal component
  src/App2.tsx
  src/components/Adsense/AdBlockModal.tsx
  src/components/RsuiteLayout/index.tsx
Due: eslint --fix

sync text between react and static
  src/components/Adsense/AdBlockModal.tsx
  src/components/Adsense/utils/adblock.ts
Due: eslint --fix

Initial commit
  LICENSE
Due: none

import my webpack config
  .babelrc.js
  .browserslistrc
  .eslintignore
  .eslintrc.js
  .gitattributes
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  config/cli.js
  config/paths.js
  config/webpack.backup.js.txt
  config/webpack.common-conflict.txt
  config/webpack.common.js
  config/webpack.config.js.txt
  config/webpack.dev-prod.js
  config/webpack.dev.js
  config/webpack.entry.js
  config/webpack.prod.js
  package.json
  postcss.config.js
  purgecss.config.js
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --list-different --write

add fallback html
  public/index.html
Due: none

separate config
  html/routeConfig.ts
  routes.json
Due: eslint --fix, prettier --list-different --write

add html generator
  html/.gitignore
  html/generate.tsx
  html/index.ts
  html/routeConfig.ts
  html/template.tsx
  routes.json
Due: eslint --fix, prettier --list-different --write

import from master
  package.json
Due: prettier --list-different --write

remove submodule
  .gitmodules
  bin/xrm
  package.json
Due: prettier --list-different --write

fixed showing modal on non-adblock
  src/components/Adsense/AdBlockModal.tsx
  src/components/Adsense/utils/adblock.ts
  src/components/Adsense/utils/index.ts
Due: eslint --fix

export src folder
  package.json
Due: prettier --list-different --write

fixed encoded url result
  src/routes/Safelink/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: any of: *.json
