Repository dimaslanjaka/page: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write"
}

convert to typescript
  src/utils/scroll-to-hash.ts
Due: eslint --fix

moved to utils folder
  src/assets/js/remember-scroll-position.js
  src/utils/remember-scroll-position.js
Due: eslint --fix

update scroll helpers
  src/components/RsuiteLayout/index.tsx
  src/utils/remember-scroll-position.js
  src/utils/scroll-helper.ts
  src/utils/scroll-to-hash.ts
Due: eslint --fix

run entries builder before build
  package.json
  webpack.entries.json
Due: prettier --list-different --write

update imports
  src/components/Adsense/utils/index.ts
Due: eslint --fix

update settings for react
  .vscode/settings.json
Due: prettier --list-different --write

add entries
  gulpfile.webpack.js
Due: eslint --fix

refactor(prettier): disable trailing comma
  .prettierrc.json
  src/assets/js/google-analytics-reporting-api.js
  src/assets/js/google/AnalyticsQueries.ts
  src/assets/js/google/analytics-all.js
  src/assets/js/google/analytics.ts
  src/assets/js/google/constants.ts
  src/assets/js/google/firebase.ts
  src/assets/js/google/login.js
  src/assets/js/page-cookies.js
  src/components/Adsense/index.tsx
  src/components/Adsense/utils/config.ts
  src/components/Adsense/utils/index.ts
  src/components/Highlight.js/index.tsx
  src/components/Image.tsx
  src/components/RsuiteLayout/Navbar.tsx
  src/components/RsuiteLayout/Sidebar.tsx
  src/components/RsuiteLayout/index.tsx
  src/index.js
  src/route/BotDetect/bot-detect.ts
  src/route/HomePage/index.tsx
  src/route/Login/index.tsx
  src/route/MomentTimezone/index.tsx
  src/route/MomentTimezone/layout1/moment-timezone.js
  src/route/Safelink/index.tsx
  src/utils/cookie.ts
  src/utils/scroll-helper.ts
  src/utils/utils.ts
  webpack.entries.json
Due: eslint --fix, prettier --list-different --write

list-staged using arg allow empty
  .husky/pre-commit
Due: none

moved unused scripts into public
  public/page/assets/js/core.js
  public/page/assets/js/gijgo.translate.js
  public/page/assets/js/google-analytics-reporting-api.js
  public/page/assets/js/page-cookies.js
  public/page/assets/js/safelink-backup.js
  public/page/assets/js/safelink.js
  public/page/assets/js/safelink.min.js
  public/page/assets/js/v2.js
  public/page/assets/js/v3.js
  src/assets/js/v3.js
Due: eslint --fix

add current unique page id cookie
  src/utils/cookie.ts
Due: eslint --fix

assign unique page id into window property
  src/globals.d.ts
  src/utils/cookie.ts
Due: eslint --fix

enable fix all for react
  .vscode/settings.json
Due: prettier --list-different --write

replace global promise with `bluebird`
  src/index.js
Due: eslint --fix

change `console.log` to `console.info`
  src/components/Adsense/utils/index.ts
Due: eslint --fix

add options to get all cookies
  src/utils/cookie.ts
Due: eslint --fix

update bot detector layout
  src/route/BotDetect/BotDetect.scss
  src/route/BotDetect/bot-detect.ts
  src/route/BotDetect/index.tsx
  webpack.entries.json
Due: eslint --fix, prettier --list-different --write

lower case header filter
  src/route/BotDetect/index.tsx
Due: eslint --fix

fixed `KEY_LOCALSTORAGE` not found
  src/route/Login/index.tsx
Due: eslint --fix

add ajax with cache ability
  package.json
  src/components/RsuiteLayout/Sidebar.tsx
  src/route/BotDetect/bot-detect.ts
  src/utils/ajax.ts
Due: eslint --fix, prettier --list-different --write

define the ip on fetch geo ip
  src/route/BotDetect/index.tsx
Due: eslint --fix

add margin each column
  src/route/BotDetect/index.tsx
Due: eslint --fix

add axios cache builder
  src/utils/ajax.ts
Due: eslint --fix

fixed responsive grid
  src/route/BotDetect/index.tsx
Due: eslint --fix

update entries parser
  webpack.entries.js
  webpack.entries.json
Due: eslint --fix, prettier --list-different --write

add exclusion
  .eslintignore
Due: none

add rm helper
  bin/xrm
Due: none

eslint --fix
  webpack.config.js
Due: eslint --fix

moved utility to shared
  src/route/MomentTimezone/layout1/DateInput.jsx
  src/route/MomentTimezone/layout1/index.tsx
  src/route/MomentTimezone/shared/moment-timezone.js
Due: eslint --fix

import moment from utiity
  src/route/MomentTimezone/index.tsx
Due: eslint --fix

compile highlight.js
  webpack.config.js
Due: eslint --fix

add main initializer runner
  src/components/Highlight.js/helper.ts
Due: eslint --fix

fixed typescript import paths alias support
  gulpfile.webpack.js
  webpack.config.js
Due: eslint --fix

add route
  webpack.html.js
Due: eslint --fix

add react
  src/route/Highlight/index.jsx
Due: eslint --fix

format with prettier after save
  webpack.entries.js
Due: eslint --fix

update highlight layout
  src/route/Highlight/index.jsx
Due: eslint --fix

update readme
  readme.md
Due: none

remove internal bundle
  webpack.entries.js
  webpack.entries.json
Due: eslint --fix, prettier --list-different --write
